include index.pug
block content
.auto__wrap 
    .card__holder 
        .auto__card 
            input(type="text" value="command")
            button(onclick="addNewCard(this.parentElement)") Add
            button(onclick="removeThisCard(this.parentElement)") Remove
        .auto__card 
            input(type="text" value="land")
            button(onclick="addNewCard(this.parentElement)") Add
            button(onclick="removeThisCard(this.parentElement)") Remove
    button(onclick="sendCommandsToSdk()") Send commands to drone
    .control__grid__item(onclick=`sendToSdk("emergency"), activeThis("emergency")` name="emergency")
            p(style="color: red") emergency