include index.pug
script(src='/javascripts/devTools.js')
link(rel="stylesheet" type="text/css" href="/stylesheets/raw__data.css")
block content
    p This is where you'll find the raw data of the application