include index.pug
//-script(src='/javascripts/devTools.js')
link(rel="stylesheet" type="text/css" href="/stylesheets/raw__data.css")
block content
    button(name="loadBackend" onclick="loadBackendContent()") Load data
    .data__content