include index.pug
//-script(src='/javascripts/devTools.js')
//-script(src='/javascripts/drone-controller.js')
//-link(rel="stylesheet" type="text/css" href="/stylesheets/drone__controller.css")
block mixins
    mixin createTrWithName(tdName)
        tr(name=tdName)
            td #{tdName}
            td 0 
block content
.content__wrap.listener__trigger
    .controller__wrap
        //-h1 Your drones' current position in a matrix 
        //-.positions
            .XPos
                label(for="XPositionInput") X: 
                input(name="XPositionInput" value=0 disabled type="number")
            .YPos
                label(for="YPositionInput") Y: 
                input(name="YPositionInput" value=0 disabled type="number")
            .ZPos
                label(for="YPositionInput") Z: 
                input(name="YPositionInput" value=0 disabled type="number")
        .special__controls 
            label(for="customDroneInput") Custom commands
            input(type="text" name="customDroneInput" onblur="sendToSdk(value)")
    p To start moving use the arrow keys to change horizontal (X,Z positions)
    p To change vertical position, use space to ascend or use shift to descend
    a(href="https://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf" target="_blank") User Guide
    .display__grid 
        .control__grid__item(onclick=`sendToSdk("battery?"), activeThis("battery")` name="battery")
            p battery
        .control__grid__item(onclick=`sendToSdk("emergency"), activeThis("emergency")` name="emergency")
            p(style="color: red") emergency
        .control__grid__item(onclick=`sendToSdk("command"), activeThis("command")` name="command")
            p command
        .control__grid__item(onclick=`sendToSdk("takeoff"), activeThis("takeoff")` name="takeoff")
            p takeoff
        .control__grid__item(onclick=`sendToSdk("land"), activeThis("land")` name="land")
            p land
        .control__grid__item(onclick=`sendToSdk("stop"), activeThis("stop")` name="stop")
            p stop
    .display__grid
        .control__grid__item(onclick=`sendToSdk("ccw 90"), activeThis("turnccw")` name="turnccw")
            p Turn anti clockwise 90
        .control__grid__item(onclick=`sendToSdk("forward 20"), activeThis("forward")` name="forward")
            p forward
        .control__grid__item(onclick=`sendToSdk("cw 90"), activeThis("turncw")` name="turncw")
            p Turn clockwise 90
        .control__grid__item(onclick=`sendToSdk("left 20"), activeThis("left")` name="left")
            p left
        .control__grid__item(onclick=`sendToSdk("up 20"), activeThis("up")` name="up")
            p up
        .control__grid__item(onclick=`sendToSdk("right 20"), activeThis("right")` name="right")
            p right
        .control__grid__item(onclick=`sendToSdk("down 20"), activeThis("down")` name="down")
            p down
        .control__grid__item(onclick=`sendToSdk("back 20"), activeThis("back")` name="back")
            p back
    table.socketContent(name="webSocketContent") 
        tr(name="firstRow")
            td Data 
            td Value 
        +createTrWithName("pitch")
        +createTrWithName("roll")
        +createTrWithName("yaw")
        +createTrWithName("vgx")
        +createTrWithName("vgy")
        +createTrWithName("templ")
        +createTrWithName("temph")
        +createTrWithName("tof")
        +createTrWithName("h")
        +createTrWithName("bat")
        +createTrWithName("baro")
        +createTrWithName("time")
        +createTrWithName("agx")
        +createTrWithName("agy")
        +createTrWithName("agz")


    





//-
    .controllerPWrap(onclick="letsPlay()")
            p This is the drone controllerm, click to play
    p X, Y, Z Positions
    .drone-position
        input(type="number" name="ypos" value="0") 
        input(type="number" name="xpos" value="0") 
        input(type="number" name="zpos" value="0") 
    .control-buttons
        .btn__groups
            button(id="forwardbtn" onclick=`droneControlMain("forward")`) Forward
            button(id="backbtn" onclick=`droneControlMain("back")`) Back
        .btn__groups
            button(id="leftbtn" onclick=`droneControlMain("left")`) Left
            button(id="rightbtn" onclick=`droneControlMain("right")`) Right
        .btn__groups
            button(id="upbtn" onclick=`droneControlMain("up")`) Up
            button(id="downbtn" onclick=`droneControlMain("down")`) Down

    .submit__sdk__form
        label(for="sdkSubmit") SDK
        input(name="sdkSubmit" type="text") 
        button(id="sdkButton" onclick="sendToSdk(this.parentElement)" ) Submit