include index.pug
link(rel="stylesheet" type="text/css" href="/stylesheets/drone__controller.css")
block content
    .homepage__main__content
        .homepage__sub__content 
            .sub__content__text     
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi numquam ipsa ratione obcaecati, eligendi at hic explicabo corrupti, necessitatibus fuga dolores vitae aliquid dignissimos neque cupiditate delectus dolor sed voluptates!
                img(src="../images/drone_control.jpg")
            .sub__content__text     
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi numquam ipsa ratione obcaecati, eligendi at hic explicabo corrupti, necessitatibus fuga dolores vitae aliquid dignissimos neque cupiditate delectus dolor sed voluptates!
                img(src="../images/drone_flying.jpg")
            .sub__content__text     
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi numquam ipsa ratione obcaecati, eligendi at hic explicabo corrupti, necessitatibus fuga dolores vitae aliquid dignissimos neque cupiditate delectus dolor sed voluptates!
                img(src="../images/drone_settings.jpg")
            .sub__content__text     
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi numquam ipsa ratione obcaecati, eligendi at hic explicabo corrupti, necessitatibus fuga dolores vitae aliquid dignissimos neque cupiditate delectus dolor sed voluptates!
                img(src="../images/drone_test.jpg")
