<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
block styles
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/navigation.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/drone__controller.css")
    script(src='../javascripts/devTools.js')
    script(src='../javascripts/drone-controller.js')
    script(src='../javascripts/connectionSetup.js')
    header
        .navigation__wrap
            .nav__item
                a(href="/") Home 
            //-.nav__item
                a(href="/settings") Settings 
            //-.nav__item
                a(href="/mydrone") MyDrone
            //-.nav__item
                a(href="/history") History 
            //-.nav__item
                a(href="/rawdata") Raw Data 
            .nav__item
                a(href="/control") Control Drone
    body
    block content