include index.pug
//-script(src='/javascripts/devTools.js')
link(rel="stylesheet" type="text/css" href="/stylesheets/my__drone.css")
block content
    p this is where you'll find info about your drone