include index.pug
//-script(src='/javascripts/devTools.js')
link(rel="stylesheet" type="text/css" href="/stylesheets/settings.css")
block content
body
    .settings__wrap
        .settings__option
            p Wifi SSID
            input(type="text" name="wifiSSID")
        .settings__option
            p Wifi Password
            input(type="text" name="wifiPassword")
        .settings__option 
            button(onclick="submitSettings(this.parentElement.parentElement)") Save