body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  color: green;
}

h2{
  color: pink;
}

p{
  font-size: large;
  font-weight: 700;
  color: aliceblue;
}